#nav {
    list-style-type: none;
    margin: 0;
    padding-bottom: 20px;
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 8px 10px;
    text-decoration: none;
    position: absolute;
    top: 0;
    padding-bottom: 6px;
    width: 100%;
    background-color: #1a1818;
}

#nav a:link, a:visited, a:active {
    background-color: #1a1818;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 10px;
  }

#nav a:hover {
    background-color: #1da5ce;
    color: rgb(15, 14, 14);
    text-align: center; 
    text-decoration: none;
    display: inline;
    padding: 10px;
  }